.input {
  border-radius: 5px;
  border: 1px solid #979797;
  color: #9B9B9B;
  padding: 0 10px;
  height: 40px;
  font-size: 0.8em;
  font-weight: lighter;
  font-family: 'Gothic A1', 'Arial Narrow', Arial, sans-serif;
  background-color: #ffffff;
  outline: none;
}

.input:focus {
  background-color: #fef2de;
  border-color: #f38600;
}