@import url('./pages/home/home-style.css');
@import url('./pages/gallery/gallery-style.css');
@import url('./pages/gallery/photo-card-style.css');
@import url('./pages/blog/blog-style.css');
@import url('./pages/blog/single-blog-style.css');
@import url('./pages/story/story-style.css');
@import url('./pages/consultation/consultation-style.css');
@import url('./pages/service/service-style.css');
@import url('./components/button-style.css');
@import url('./components/input-style.css');
@import url('./components/navbar-style.css');
@import url('./components/nav-extension-style.css');
@import url('./components/dropdown-style.css');
@import url('./components/blogcard-style.css');
@import url('./components/impactcard-style.css');
@import url('./components/footer-style.css');
@import url('./components/service-item-style.css');

html, body
{
    margin: 0px; padding: 0px;
    width: 100%; height: 100%;
    font-family: 'Gothic A1', 'Arial Narrow', Arial, sans-serif;
}

#edward-consulting-app {
    width: 100%; height: 100%;
}

.coming-soon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: #075d8f;
    height: 100%;
    width: 100%;
}